<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <!-- Start your code here -->
            <h1>Welcome to About Page</h1>

            <h2>About Me</h2>
            <p>
                My name is Prasiddha Thapaliya. I am a student enrolled in the BTT program at Seneca College.
                My student email is "pthapaliya@myseneca.ca". This website is created as part of the WEB700 course.
            </p>

            <p>
                As a student deeply enamored with the world of Information Technology (IT), my passion for technology
                knows no bounds. From the intricate algorithms of software development to the hardware innovations that
                push the boundaries of possibility, I find myself constantly drawn to the ever-evolving landscape of IT.
                Exploring the latest advancements in cybersecurity, cloud computing, and artificial intelligence fuels
                my curiosity and ignites my enthusiasm for learning. Beyond the confines of traditional education, I
                eagerly immerse myself in hands-on projects, online courses, and tech communities to stay abreast of
                emerging trends. For me, IT isn't just a field of study; it's a boundless journey of discovery,
                innovation, and limitless potential.
            </p>
            <!-- End your code here -->
        </main>
    </div>
</div>