<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <!-- Start your code here -->
            <h1>Welcome to About Page</h1>
            
            <h2>About Me</h2>
            <p>
                My name is Prasiddha Thapaliya. I am a student enrolled in the BTT program at Seneca College.
                My student email is "pthapaliya@myseneca.ca". This website is created as part of the WEB700 course.
            </p>
            <!-- End your code here -->
        </main>
    </div>
</div>
